.sponsor-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sponsor-item_logo {
  max-width: 35px;
  max-height: 35px;
}
.App {
  width: 100%;
  max-width: 1100px;
}
.open-sea-link {
  color: var(--color-dark1);
  font-weight: 500;
  cursor: pointer;
}
